announcementServer/announcementServer-contract/AnnouncementServerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

  WSDL contract for AnnouncementServer

  This WSDL defines the operations provided by the Web Service, and should not be modified.
  For more information, see sections
  wsdl:service, wsdl:portType, wsdl:types and wsdl:binding below
-->
<definitions 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://ws.announcementserver.org/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="AnnouncementServerService"
	targetNamespace="http://ws.announcementserver.org/">

  <!--  XML Schema Definition (XSD) of data types. -->
  <types>
  	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.announcementserver.org/" version="1.0">
  	
	<xs:element name="UserNotRegisteredFault" type="tns:UserNotRegisteredFault" />
	<xs:element name="MessageSizeFault" type="tns:MessageSizeFault" />
	<xs:element name="ReferredUserFault" type="tns:ReferredUserFault" />
	<xs:element name="ReferredAnnouncementFault" type="tns:ReferredAnnouncementFault" />
	<xs:element name="PostTypeFault" type="tns:PostTypeFault" />
	<xs:element name="InvalidNumberFault" type="tns:InvalidNumberFault" />
	<xs:element name="EmptyBoardFault" type="tns:EmptyBoardFault" />
	<xs:element name="NumberPostsFault" type="tns:NumberPostsFault" />

  	<xs:element name="register" type="tns:register" />
  	<xs:element name="registerResponse" type="tns:registerResponse" />

  	<xs:element name="post" type="tns:post" />
  	<xs:element name="postResponse" type="tns:postResponse" />
  	
  	<xs:element name="postGeneral" type="tns:postGeneral" />
  	<xs:element name="postGeneralResponse" type="tns:postGeneralResponse" />
  	
  	<xs:element name="read" type="tns:read" />
  	<xs:element name="readResponse" type="tns:readResponse" />
  	
  	<xs:element name="readGeneral" type="tns:readGeneral" />
  	<xs:element name="readGeneralResponse" type="tns:readGeneralResponse" />
  	
  	<xs:element name="writeBack" type="tns:writeBack" />
  	<xs:element name="writeBackResponse" type="tns:writeBackResponse" />

	<xs:element name="echo" type="tns:echo" />
  	<xs:element name="echoResponse" type="tns:echoResponse" />
  	
  	<xs:element name="echoRead" type="tns:echoRead" />
  	<xs:element name="echoReadResponse" type="tns:echoReadResponse" />
  	
  	<xs:element name="ready" type="tns:ready" />
  	<xs:element name="readyResponse" type="tns:readyResponse" />
  	
  	<xs:element name="readyRead" type="tns:readyRead" />
  	<xs:element name="readyReadResponse" type="tns:readyReadResponse" />

	<!-- Announcement for transport -->
	<xs:complexType name="AnnouncementMessage">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="writer" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="message" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="announcementList" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="type" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="wts" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="signature" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!-- Register Messages -->
	<xs:complexType name="RegisterReq">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="sender" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="destination" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="signature" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegisterRet">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="sender" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="destination" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="seqNumber" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="wts" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="rid" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="signature" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!-- Write Messages (posts) -->
	<xs:complexType name="WriteReq">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="sender" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="destination" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="seqNumber" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="announcement" type="tns:AnnouncementMessage" />
			<xs:element minOccurs="1" maxOccurs="1" name="signature" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WriteBackReq">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="sender" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="destination" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="seqNumber" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="unbounded" name="announcements" type="tns:AnnouncementMessage" />
			<xs:element minOccurs="1" maxOccurs="1" name="signature" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WriteRet">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="sender" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="destination" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="seqNumber" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="wts" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="signature" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WriteBackRet">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="sender" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="destination" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="seqNumber" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="signature" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- Read Messages -->
	<xs:complexType name="ReadReq">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="sender" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="destination" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="seqNumber" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="rid" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="owner" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="signature" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReadGeneralReq">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="sender" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="destination" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="seqNumber" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="rid" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="signature" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReadRet">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="sender" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="destination" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="seqNumber" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="rid" type="xs:int" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="announcements" type="tns:AnnouncementMessage" />
			<xs:element minOccurs="1" maxOccurs="1" name="signature" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
  	
  	
  	<!-- REGISTER -->
  	<xs:complexType name="register">
	  	<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="1" type="tns:RegisterReq" name="request" />
	  	</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="registerResponse">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" type="tns:RegisterRet" name="return" />
		</xs:sequence>
  	</xs:complexType>
  	
  	<!-- POST -->
  	<xs:complexType name="post">
	  	<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="1" type="tns:WriteReq" name="request" />
		</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="postResponse">
	  	<xs:sequence>
	  		<xs:element minOccurs="1" maxOccurs="1" type="tns:WriteRet" name="return" />	  
		</xs:sequence>
  	</xs:complexType>
  	
  	<!-- POST GENERAL -->
  	<xs:complexType name="postGeneral">
		<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="1" type="tns:WriteReq" name="request" />  
	  	</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="postGeneralResponse">
	  	<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="1" type="tns:WriteRet" name="return" />
	  	</xs:sequence>
  	</xs:complexType>
  	
  	<!-- READ -->
  	<xs:complexType name="read">
  		<xs:sequence>
	  		<xs:element minOccurs="1" maxOccurs="1" type="tns:ReadReq" name="request" />
	  	</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="readResponse">
  		<xs:sequence>
	  		<xs:element minOccurs="1" maxOccurs="1" type="tns:ReadRet" name="return" />
	  	</xs:sequence>
  	</xs:complexType>
  	
  	<!-- READ GENERAL -->
  	<xs:complexType name="readGeneral">
	  	<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="1" type="tns:ReadGeneralReq" name="request" />
		</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="readGeneralResponse">
  		<xs:sequence>
	  		<xs:element minOccurs="1" maxOccurs="1" type="tns:ReadRet" name="return" />
	  	</xs:sequence>
  	</xs:complexType>
  	
  	<!-- WRITE BACK -->
  	<xs:complexType name="writeBack">
	  	<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="1" type="tns:WriteBackReq" name="request" />
		</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="writeBackResponse">
  		<xs:sequence>
	  		<xs:element minOccurs="1" maxOccurs="1" type="tns:WriteBackRet" name="return" />
	  	</xs:sequence>
  	</xs:complexType>

	<!-- ECHO -->
	<xs:complexType name="echo">
	  	<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="1" type="xs:base64Binary" name="request" />
		</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="echoResponse">
  		<xs:sequence />
  	</xs:complexType>
  	
  	<!-- ECHO READ -->
  	<xs:complexType name="echoRead">
	  	<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="1" type="xs:base64Binary" name="request" />
		</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="echoReadResponse">
  		<xs:sequence />
  	</xs:complexType>
  	
  	<!-- READY -->
  	<xs:complexType name="ready">
  		<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="1" type="xs:base64Binary" name="request" />
  		</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="readyResponse">
  		<xs:sequence />
  	</xs:complexType>
  	
  	<!-- READY READ -->
  	<xs:complexType name="readyRead">
  		<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="1" type="xs:base64Binary" name="request" />
  		</xs:sequence>
  	</xs:complexType>
  	<xs:complexType name="readyReadResponse">
  		<xs:sequence />
  	</xs:complexType>

	<!-- EXCEPTIONS -->
	<xs:complexType name="UserNotRegisteredFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="MessageSizeFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="ReferredUserFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="ReferredAnnouncementFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="PostTypeFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="InvalidNumberFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="EmptyBoardFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="NumberPostsFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
  	
  	</xs:schema>
  </types>
  
  <!--  Messages use elements defined in the schema. -->  
  <message name="register">
  	<part element="tns:register" name="parameters" />
  </message>
  <message name="registerResponse">
  	<part element="tns:registerResponse" name="parameters" />
  </message>
  
  <message name="post">
  	<part element="tns:post" name="parameters" />
  </message>
  <message name="postResponse">
  	<part element="tns:postResponse" name="parameters" />
  </message>
  
  <message name="postGeneral">
  	<part element="tns:postGeneral" name="parameters" />
  </message>
  <message name="postGeneralResponse">
  	<part element="tns:postGeneralResponse" name="parameters" />
  </message>
  
  <message name="read">
  	<part element="tns:read" name="parameters" />
  </message>
  <message name="readResponse">
  	<part element="tns:readResponse" name="parameters" />
  </message>
  
  <message name="readGeneral">
  	<part element="tns:readGeneral" name="parameters" />
  </message>
  <message name="readGeneralResponse">
  	<part element="tns:readGeneralResponse" name="parameters" />
  </message>
  
  <message name="writeBack">
  	<part element="tns:writeBack" name="parameters" />
  </message>
  <message name="writeBackResponse">
  	<part element="tns:writeBackResponse" name="parameters" />
  </message>

  <message name="echo">
  	<part element="tns:echo" name="parameters" />
  </message>
  <message name="echoResponse">
  	<part element="tns:echoResponse" name="parameters" />
  </message>
  
  <message name="echoRead">
  	<part element="tns:echoRead" name="parameters" />
  </message>
  <message name="echoReadResponse">
  	<part element="tns:echoReadResponse" name="parameters" />
  </message>
  
  <message name="ready">
  	<part element="tns:ready" name="parameters" />
  </message>
  <message name="readyResponse">
  	<part element="tns:readyResponse" name="parameters" />
  </message>
  
  <message name="readyRead">
  	<part element="tns:readyRead" name="parameters" />
  </message>
  <message name="readyReadResponse">
  	<part element="tns:readyReadResponse" name="parameters" />
  </message>

  <message name="UserNotRegisteredFault">
  	<part element="tns:UserNotRegisteredFault" name="fault" />
  </message>
  
  <message name="MessageSizeFault">
  	<part element="tns:MessageSizeFault" name="fault" />
  </message>

  <message name="ReferredUserFault">
  	<part element="tns:ReferredUserFault" name="fault" />
  </message>

  <message name="ReferredAnnouncementFault">
  	<part element="tns:ReferredAnnouncementFault" name="fault" />
  </message>
  
  <message name="PostTypeFault">
  	<part element="tns:PostTypeFault" name="fault" />
  </message>

  <message name="InvalidNumberFault">
  	<part element="tns:InvalidNumberFault" name="fault" />
  </message>

  <message name="EmptyBoardFault">
  	<part element="tns:EmptyBoardFault" name="fault" />
  </message>

  <message name="NumberPostsFault">
  	<part element="tns:NumberPostsFault" name="fault" />
  </message>
  
  <!--  Port type (interface). -->
  <!--  Each operation has input, output and fault messages. -->
  <portType name="AnnouncementServerPortType">  	
  	<operation name="register">
  		<input message="tns:register" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/register" />
  		<output message="tns:registerResponse" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/registerResponse" />
	</operation>
  	
  	<operation name="post">
  		<input message="tns:post" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/post" />
  		<output message="tns:postResponse" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/postResponse" />
		<fault message="tns:UserNotRegisteredFault" name="UserNotRegisteredFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/post/Fault/UserNotRegisteredFault" />
		<fault message="tns:MessageSizeFault" name="MessageSizeFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/post/Fault/MessageSizeFault" />
		<fault message="tns:ReferredUserFault" name="ReferredUserFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/post/Fault/ReferredUserFault" />
		<fault message="tns:PostTypeFault" name="PostTypeFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/post/Fault/PostTypeFault" />
		<fault message="tns:ReferredAnnouncementFault" name="ReferredAnnouncementFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/post/Fault/ReferredAnnouncementFault" />
	</operation>
  	
  	<operation name="postGeneral">
  		<input message="tns:postGeneral" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/postGeneral" />
  		<output message="tns:postGeneralResponse" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/postGeneralResponse" />
		<fault message="tns:UserNotRegisteredFault" name="UserNotRegisteredFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/postGeneral/Fault/UserNotRegisteredFault" />
		<fault message="tns:MessageSizeFault" name="MessageSizeFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/postGeneral/Fault/MessageSizeFault" />
		<fault message="tns:ReferredUserFault" name="ReferredUserFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/postGeneral/Fault/ReferredUserFault" />
		<fault message="tns:PostTypeFault" name="PostTypeFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/postGeneral/Fault/PostTypeFault" />
		<fault message="tns:ReferredAnnouncementFault" name="ReferredAnnouncementFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/postGeneral/Fault/ReferredAnnouncementFault" />
  	</operation>
  	
  	<operation name="read">
  		<input message="tns:read" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/read" />
  		<output message="tns:readResponse" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/readResponse" />
		<fault message="tns:InvalidNumberFault" name="InvalidNumberFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/read/Fault/InvalidNumberFault" />
		<fault message="tns:ReferredUserFault" name="ReferredUserFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/read/Fault/ReferredUserFault" />
		<fault message="tns:EmptyBoardFault" name="EmptyBoardFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/read/Fault/EmptyBoardFault" />
		<fault message="tns:NumberPostsFault" name="NumberPostsFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/read/Fault/NumberPostsFault" />
  	</operation>
  	
  	<operation name="readGeneral">
  		<input message="tns:readGeneral" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/readGeneral" />
  		<output message="tns:readGeneralResponse" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/readGeneralResponse" />
		<fault message="tns:InvalidNumberFault" name="InvalidNumberFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/readGeneral/Fault/InvalidNumberFault" />
		<fault message="tns:EmptyBoardFault" name="EmptyBoardFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/readGeneral/Fault/EmptyBoardFault" />
		<fault message="tns:NumberPostsFault" name="NumberPostsFault" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/readGeneral/Fault/NumberPostsFault" />
  	</operation>
  	
  	<operation name="writeBack">
  		<input message="tns:writeBack" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/writeBack" />
  		<output message="tns:writeBackResponse" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/writeBackResponse" />
  	</operation>

	<operation name="echo">
  		<input message="tns:echo" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/echo" />
  		<output message="tns:echoResponse" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/echoResponse" />
  	</operation>
  	
  	<operation name="echoRead">
  		<input message="tns:echoRead" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/echoRead" />
  		<output message="tns:echoReadResponse" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/echoReadResponse" />
  	</operation>
  	
  	<operation name="ready">
  		<input message="tns:ready" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/ready" />
  		<output message="tns:readyResponse" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/readyResponse" />
  	</operation>
  	
  	<operation name="readyRead">
  		<input message="tns:readyRead" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/readyRead" />
  		<output message="tns:readyReadResponse" wsam:Action="http://ws.announcementserver.org/AnnouncementServerPortType/readyReadResponse" />
  	</operation>
  	
  </portType>
  
  <!--  Binding defines the actual technologies to use. -->
  <binding name="AnnouncementServerPortBinding" type="tns:AnnouncementServerPortType">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
  	
  	<operation name="register">
  		<soap:operation soapAction="" />
  		<input>
  			<soap:body use="literal" />
  		</input>
  		<output>
  			<soap:body use="literal" />
  		</output>
  	</operation>
  	
  	<operation name="post">
  		<soap:operation soapAction="" />
  		<input>
  			<soap:body use="literal" />
  		</input>
  		<output>
  			<soap:body use="literal" />
  		</output>
		<fault name="UserNotRegisteredFault">
			<soap:fault name="UserNotRegisteredFault" use="literal" /> 
		</fault>
		<fault name="MessageSizeFault">
			<soap:fault name="MessageSizeFault" use="literal" /> 
		</fault>
		<fault name="ReferredUserFault">
			<soap:fault name="ReferredUserFault" use="literal" /> 
		</fault>
		<fault name="PostTypeFault">
			<soap:fault name="PostTypeFault" use="literal" /> 
		</fault>
		<fault name="ReferredAnnouncementFault">
			<soap:fault name="ReferredAnnouncementFault" use="literal" /> 
		</fault>		  
  	</operation>
  	
  	<operation name="postGeneral">
  		<soap:operation soapAction="" />
  		<input>
  			<soap:body use="literal" />
  		</input>
  		<output>
  			<soap:body use="literal" />
  		</output>
		<fault name="UserNotRegisteredFault">
			<soap:fault name="UserNotRegisteredFault" use="literal" /> 
		</fault>
		<fault name="MessageSizeFault">
			<soap:fault name="MessageSizeFault" use="literal" /> 
		</fault>
		<fault name="ReferredUserFault">
			<soap:fault name="ReferredUserFault" use="literal" /> 
		</fault>
		<fault name="PostTypeFault">
			<soap:fault name="PostTypeFault" use="literal" /> 
		</fault>
		<fault name="ReferredAnnouncementFault">
			<soap:fault name="ReferredAnnouncementFault" use="literal" /> 
		</fault>		  
  	</operation>
  	
  	<operation name="read">
  		<soap:operation soapAction="" />
  		<input>
  			<soap:body use="literal" />
  		</input>
  		<output>
  			<soap:body use="literal" />
  		</output>
		<fault name="InvalidNumberFault">
			<soap:fault name="InvalidNumberFault" use="literal" /> 
		</fault>
		<fault name="ReferredUserFault">
			<soap:fault name="ReferredUserFault" use="literal" /> 
		</fault>
		<fault name="EmptyBoardFault">
			<soap:fault name="EmptyBoardFault" use="literal" /> 
		</fault>
		<fault name="NumberPostsFault">
			<soap:fault name="NumberPostsFault" use="literal" /> 
		</fault>
  	</operation>
  	
  	<operation name="readGeneral">
  		<soap:operation soapAction="" />
  		<input>
  			<soap:body use="literal" />
  		</input>
  		<output>
  			<soap:body use="literal" />
  		</output>
		<fault name="InvalidNumberFault">
			<soap:fault name="InvalidNumberFault" use="literal" /> 
		</fault>
		<fault name="EmptyBoardFault">
			<soap:fault name="EmptyBoardFault" use="literal" /> 
		</fault>
		<fault name="NumberPostsFault">
			<soap:fault name="NumberPostsFault" use="literal" /> 
		</fault>
  	</operation>
  	
  	<operation name="writeBack">
  		<soap:operation soapAction="" />
  		<input>
  			<soap:body use="literal" />
  		</input>
  		<output>
  			<soap:body use="literal" />
  		</output>
  	</operation>

	<operation name="echo">
  		<soap:operation soapAction="" />
  		<input>
  			<soap:body use="literal" />
  		</input>
  		<output>
  			<soap:body use="literal" />
  		</output>
  	</operation>
  	
  	<operation name="echoRead">
  		<soap:operation soapAction="" />
  		<input>
  			<soap:body use="literal" />
  		</input>
  		<output>
  			<soap:body use="literal" />
  		</output>
  	</operation>
  	
  	<operation name="ready">
  		<soap:operation soapAction="" />
  		<input>
  			<soap:body use="literal" />
  		</input>
  		<output>
  			<soap:body use="literal" />
  		</output>
  	</operation>
  	
  	<operation name="readyRead">
  		<soap:operation soapAction="" />
  		<input>
  			<soap:body use="literal" />
  		</input>
  		<output>
  			<soap:body use="literal" />
  		</output>
  	</operation>
  
  </binding>
  
  <!--  Service defines ports. -->
  <!--  Each port is an abstract port type, made concrete by a binding. -->
  <service name="AnnouncementServerService">
  	<port binding="tns:AnnouncementServerPortBinding" name="AnnouncementServerPort">
  		<soap:address location="http://localhost:8090/announcementserver" />
  	</port>
  </service>
  
</definitions>